body {
    margin: 0px;
    background-color: #E8E8E8;
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
}

button {
    border: 0px;
    border-radius: 5px;
    background-color: #808080;
    color: #FFF;
    width: 90%;
    height: 25px;
    margin-top: 8px;
}


/* Home Screen */
.home-itens { display: flex; }



/* classes */
.list-classes {
    border-right: 1px solid #808080;
    background-color: #8080801A;
    position: fixed;
    height: 93vh;
    top: 7vh;
    overflow-y: scroll;
    width: 22vw;
}

.card-class {
    border: 2px solid;
    border-radius: 3px;
    background-color: #F1F1F1;
    margin: 0.5vh 1vw 0.5vh 1vw;
    padding-left: 0.8vw;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
    width: 18vw;
    min-height: 14vh;
    border-left: 6px solid;
    transition: all .2s ease-in-out;
}

/* Scroll Style List Classes*/
  
.list-classes::-webkit-scrollbar {
    width: 0px;
}
  
.list-classes::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #808080A1;
    border: 1px solid #D3D3D3;
}


/* Icon New Note */
.green-circle {
    height: 10vh;
    width: 10vh;
    background-color: #BFFCC6;
    border-radius: 10vh;
    border: solid 1px #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.fa-pencil-alt {
    font-size: 6vh;
    color: #808080;
}

.zoom-hover:hover { 
    cursor: pointer;
    transform: scale(1.05);
}


/* Grade */
.number-grade {
    display: flex;
    width: 100%;
    padding-top: 1vh;
    height: 5vh;
    transition: all 0.2s ease-out;
}

.grade {
    top: 0;
    overflow: hidden;
    max-height: 0px;
    transition: all 0.4s ease-in-out;
    background-color: #8080801A;
    border-bottom: .1vw solid #808080;
}

.number-grade:hover {
    background-color: #8080801A;
    cursor: pointer;
}

.list-grade > input:checked ~ .number-grade {
    font-weight: bold;
    background-color: #8080801A;
    border-bottom: none;
}

.list-grade > input:checked ~ .grade {
    transition: all 0.6s ease-in-out;
    max-height: 100vh;
    padding-bottom: 1.5vh;
} 

.list-grade {
    transition: all .2s ease-in-out;
    visibility: visible; 
}