body {
    margin: 0px;
    background-color: #E8E8E8;
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
}

button {
    border: 0px;
    border-radius: 5px;
    background-color: #808080;
    color: #FFF;
    width: 90%;
    height: 25px;
    margin-top: 8px;
}


/* Header */
.header {
    position: fixed;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    background-color: #D3D3D3;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D3D3D3;
    width: 22vw;
    border-right: 1px solid #808080;
}

.user-component {
    display: flex;
    align-items: center;
}

.user-component > i {
    font-size: 40px;
    margin: 0vh 1vw 0vh 1vw;
}


/* Home Screen */
.home-itens { display: flex; }


/* notes */
.list-notes {
    padding: 7.2vh 0px 0px 22vw;
    width: 79vw;
    height: 92.8vh;
}


.note::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.note::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #d3d3d3;
}
  
.note::-webkit-scrollbar {
    width: 10px;
}
  
.note::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #808080;
    border: 1px solid #D3D3D3;
}

.note {
    display: flex;
    flex-wrap: wrap;
    padding-top: 7vh;
    padding-left: 1vh;
    height: 100%;
    overflow-y: scroll;
}

.card-note {
    flex: 1 0 21%;
    margin: 1vh;
    width: 18vw;
    height: 18vw;
    max-width: 18vw;
    border: 1px solid #808080;
    border-radius: 3px;
    background-color: #F1F1F1;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
    background-color: #fff;
    margin: 1vw 1vw;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #808080;
}

.card-note > h4 { text-align: center; }

.name-class {
    background-color: #808080;
    width: 79vw;
    height: 6vh;
    position: fixed;
    border-bottom: 0.1vh solid #808080;
    border-left: 0.1vh solid #808080;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-class > h2 {
    margin: 0px 10px;
}

.search-notes {
    display: flex;
    margin-right: 2vw;
    /* border: solid 2px #808080; */
    border-radius: 2000vw;
}

.search-notes > i {
    width: 2.5vw;
    height: 4.6vh;
    background-color: #FFF;
    font-size: 3vh;
    border-radius: 10vh 0px 0px 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-notes > input {
    height: 4.3vh;
    width: 100px;
    margin: 0 !important;
    border-radius: 0px 10vh 10vh 0px;
    outline-width: 0;
    transition: all .2s ease-in-out;
}

.search-notes > input:hover, .search-notes > input:focus {
    width: 250px;
}

.without-notes {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    flex-direction: column;
}

.fa-book {
    font-size: 200px;
    color: #808080
}



/* classes */
.list-classes {
    border-right: 1px solid #808080;
    background-color: #D3D3D3;
    padding: 1vh 0vw 0vh 0vw;
    position: fixed;
    height: 93vh;
    top: 7vh;
    overflow-y: scroll;
    width: 22vw;
}

.card-class {
    border: 2px solid;
    border-radius: 3px;
    background-color: #F1F1F1;
    margin: 0.5vh 1vw 0.5vh 1vw;
    padding-left: 0.8vw;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
    width: 18vw;
    min-height: 14vh;
    border-left: 6px solid;
    transition: all .2s ease-in-out;
}

/* Scroll Style List Classes*/
.list-classes::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.list-classes::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #d3d3d3;
}
  
.list-classes::-webkit-scrollbar {
    width: 10px;
}
  
.list-classes::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #808080;
    border: 1px solid #D3D3D3;
}


/* Icon New Note */
.green-circle {
    height: 10vh;
    width: 10vh;
    background-color: #BFFCC6;
    border-radius: 10vh;
    border: solid 1px #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.fa-pencil-alt {
    font-size: 6vh;
    color: #808080;
}

.zoom-hover:hover { 
    cursor: pointer;
    transform: scale(1.05);
}


/* Form New Note */
.form-note {
    border: 3px solid #808080;
    border-radius: 10px;
    background-color: #D3D3D3;
    height: 85%;
    width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.input-note { height: 80%; }

.input-note, .name-note {
    width: 90%;
    border: 2px solid #808080;
    border-radius: 5px;
    /* padding: 2px 10px; */
    resize: none;
}


/* Grade */
.list-grade > input:checked ~ .grade {
    display: block !important;
}

.number-grade {
    display: flex;
    background-color: #d3d3d3;
    border-top: .1vw solid #808080;
    width: 100%;
}

.grade {
    position: relative;
}

.grade:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

label:hover ~ .grade:before {
    height: 100%;
    visibility: visible;
}

.grade {
    overflow: hidden;
    transition: all .2s ease-in-out;
    visibility: visible;
}

.list-grade {
    padding-bottom: 3vh;
    transition: all .2s ease-in-out;
    visibility: visible; 
}

/* .search-notes > input {
    height: 4.3vh;
    width: 100px;
    margin: 0 !important;
    border-radius: 0px 10vh 10vh 0px;
    outline-width: 0;
    transition: all .2s ease-in-out;
}

.search-notes > input:hover, .search-notes > input:focus {
    width: 250px;
} */
